[submodule "apps/predictor-host-app"]
	path = apps/predictor-host-app
	url = https://github.com/predictor-rkpb/predictor-host-app.git
[submodule "services/predictor-app-gw"]
	path = services/predictor-app-gw
	url = https://github.com/predictor-rkpb/predictor-app-gw.git
[submodule "apps/predictor-header"]
	path = apps/predictor-header
	url = https://github.com/predictor-rkpb/predictor-header.git
